<header>
    <nav class="main-nav">
        <ul class="main-menu">
            <li class="main-menu__item"><a class="main-menu__link" href="{{ path_for('home') }}">Home</a></li>
            <li class="main-menu__item"><a class="main-menu__link" href="{{ path_for('posts') }}">Posts</a></li>
            <li class="main-menu__item"><a class="main-menu__link" href="{{ path_for('about') }}">About</a></li>
        </ul>
    </nav>
</header>